body {
  /* background-color: .bg-light; */
  font-family: 'Raleway', sans-serif;
  background-color: #f1f1f1;
}

.header {
  overflow: hidden;
  background-color: darkcyan;
  padding: 20px 10px;
  margin-bottom: 10px;
}

h1 {
  font-weight: bold;
}

.card {
  border-radius: 30;
  border-spacing: 15%;
  box-shadow: 23%;
  margin: 2px;
  height: 450px;;
  width: 300px;
  float: left;
  border: light rounded;
}

.card-body {
  align-items: center;
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 65%;
  text-align: center;
  text: center;
  border: rounded;
}
