body {
  /* background-color: .bg-light; */
  font-family: 'Raleway', sans-serif;
}

.card {
  border-radius: 30;
  border-spacing: 15%;
  box-shadow: 13%;
  margin: 5px;
  height: 40%;
  width: 25%;
  float: left;
  border: light rounded;
}

.card-body {
  align-items: center;
}


img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 65%;
  text-align: center;
  text: center;
  border: rounded;
}
